@keyframes de-animations
  from
    transform rotate(0deg)
    transform-origin center center
  to
    transform rotate(360deg)
    transform-origin center center

.rotateCircle
  .de-animation
    animation de-animations 5s linear infinite
